header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    padding: 1rem 0;

    background-color: gray;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase   ;
}