.characters {
    width: 100%;
    padding-top: 2rem;
}

.characters__title {
    width: 100%;
    text-align: center;
}

.character__cards {
    border: 3px solid blue;
    display: flex;
}

.character__card {
    width: 20%;
    height: 100px;
    background-color: cornflowerblue;
    text-align: center; 
    border-radius: 6px;
}